header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  border-bottom: 10px solid #FFFF60;
  padding: 10px 20px;
}

nav {
  text-align: right;
  margin: 5px 0;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: #FFFF00;
  text-shadow: 5px 5px 0 #9e9e22;
  padding: 5px;
}

a {
  display: inline-flex;
  align-items: center;
  color: #FFFF00;
  font-size: 20px;
  font-family: "Fira Code", monospace;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

a:not(#button)::before {
  content: "";
  background-color: #FFFF00;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

#button {
  display: inline-block;
	background-color: #FFFF00;
  color: #000000;
  padding: 18px 20px;
  box-shadow: 5px 5px 0 #9e9e22;
  margin-right: 0;
  transition: transform 100ms cubic-bezier(0,0,.89,2.45), opacity 200ms linear;
}

#button:hover {
  transform: scale(1.03);
  opacity: 0.5;
}




