.action {
    display: inline-flex;
    align-items: center;
    color: #FFFF00;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
  
.action:not(.button)::before {
    content: "";
    background-color: #FFFF00;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}