.box-card {
    padding: 25px 0;
    background-color: #3A4042;
    box-shadow: 10px 10px 0 #000000;
    text-align: center;
}

.box-card .main-title {
    margin-bottom: 28px;
}

.box-card.-description {
    box-shadow: none;
}

.box-card.-description.-active {
    display: inherit;
}
.box-card.-description:not(.-active) {
    display:none;
}