.img-logo {
  width: 280px;
  height: 280px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #FFF;
  box-shadow: 20px 20px 0 #000;
}

.img-logo.-blue {
  background-color: #4C5B84;
}

.img-logo.-red {
  background-color: #F25A70;
}