.img-logo {
  width: 280px;
  height: 280px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #9e9e22;
  box-shadow: 20px 20px 0 #FFF;
}

.img-logo.-blue {
  background-color: #4C5B84;
}

.img-logo.-black {
  background-color: #000;
}

.img-logo.logo-banner {
  text-align: center;
  line-height: 280px;
  font-size: 75px;
}
