.img-logo {
  width: 220px;
  height: 220px;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #9e9e22;
  box-shadow: 20px 20px 0 #FFF;
}

.img-logo.-red {
  background-color: #a02054;
}

.img-logo.-blue {
  background-color: #4C5B84;
}

.img-logo.-green {
  background-color: #4c8462;
}

.img-logo.-black {
  background-color: #000;
}

.img-logo.logo-banner {
  text-align: center;
  line-height: 220px;
  font-size: 75px;
}

.img-logo.logo-banner.-project {
  line-height: 225px;
  font-size: 75px;
}

.img-logo.-project {
  margin-bottom: 40px;
}

.img-logo + .description {
  display: none;
}

.img-logo:hover + .description {
  display: block;
  position: absolute;
  text-align: center;
}