.img-carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
  color: #FFE600;
}

.img-carousel .link-button {
  width: 25px;
  height: 25px;
}

.img-carousel .frame {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 125px;
  margin: 0 10px;
}

.img-carousel .date {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.img-carousel .logo {
  box-sizing: border-box;
  border: 5px solid #FFE600;
}

.img-carousel .logo.-bgWhite {
  background-color: #FFF;
}

.img-carousel .logo.-bgYellow {
  background-color: #FAD73B;
}

.img-carousel .frame.-active {
  align-self: flex-start;
  transform: scale(1.7);
}

.img-carousel .frame:not(.-active) {
  transition: transform 3s step-start;
  opacity: 0.1;
}