.info-section {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 100px;
  border-bottom: 10px solid #FFF;
}

.info-section .main-title {
  margin-bottom: 50px;
}

.info-section .main-title.-third {
  margin-bottom: 20px;
}

.info-section.-bgYellow {
  background-color: #FFE600;
}

.info-section.-bdBlack {
  border-color: #000;
}

.info-section.-bdGray {
  border-color: #9DA39A;
}

.info-section.-bdYellow {
  border-color: #FFE600;
}

.info-section.-contact {
  display: flex;
  flex-direction: column;
  border: none;
  padding-bottom: 50px;
}
