.wrapper-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-cards .link-button {
  background-color: transparent;
  box-shadow: none;
}

.wrapper-cards .link-button:hover {
  opacity: 0.8;
}